html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.abcjs-staff path {
  stroke: white;
}

.abcjs-staff-extra.abcjs-clef {
  display: none;
}

p {
  font-weight: bold;
  font-size: 12px;
}

select {
  color: #000;
  font-weight: bold;
  width: 4rem;
  height: 3rem;
  margin: 0;
}

.item {
  width: 80%;
  display: flex;
  margin: 0 auto 1rem auto;
}

.part {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
}

.beat {
  display: block;
}

.beat p {
  margin: 0;
}

#tempo_category {
  display: flex;
  width: 8rem;
  height: 2.8rem;
  margin: 1.6rem 0 0 1rem;
  background-color: #eee8aa;
}

.buttons {
  width: 50%;
  display: flex;
  margin: 1.6rem auto 0 auto;
  justify-content: space-around;
}

button {
  width: 5rem;
  height: 2.5rem;
  border-radius: 16px;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
  margin: 0.2rem 0.4rem 0 0;
}

#play_mode {
  width: 6rem;
  height: 2.8rem;
  margin: 0.2rem 0.5rem 0 0;
  background-color: #eedab9;
}

#play {
  background-color: #ff7e00;
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 2rem;
}

#play::before {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 0.3em solid transparent;
  border-left: 0.5em solid currentColor;
  box-sizing: border-box;
  content: "";
}

#stop {
  background-color: #ffa500;
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 2rem;
}

#stop::before,
#stop::after {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0.25rem;
  height: 1rem;
  box-sizing: border-box;
  background-color: currentColor;
  content: "";
}

#stop::before {
  left: 45%;
}

#stop::after {
  left: 55%;
}

.rhythmImg {
  display: flex;
  width: 80%;
  margin: 8px auto 40px auto;
}

.rhythmImg img {
  width: 88%;
  margin: 4px;
  border: 0.1rem solid black;
}

.rhythmImg p {
  margin: 0 0 16px 0;
  font-size: 16px;
}
