html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  font-weight: bold;
}

p {
  font-size: 12px;
  margin: 0;
}

select {
  color: #000;
  font-weight: bold;
}

.rhythmImg {
  display: flex;
  width: 100%;
  margin: 16px 0 16px 0;
}

.rhythmImg img {
  width: 28%;
  border: 0.1rem solid black;
  margin: 0 auto 0 0;
}

.rhythmImg p {
  margin: 0 0 8px auto;
  font-size: 16px;
}

.numbers {
  display: flex;
  margin: 0 auto 0 18rem;
}

#numberLast {
  margin: 0 0 0 12px;
}

.numbers p {
  width: 3.5rem;
}

.part {
  display: flex;
  margin: 0 2rem;
}

#first {
  border: 0.2rem solid lightcoral;
}

#second {
  border: 0.2rem solid lightskyblue;
}

#third {
  border: 0.2rem solid #ffbb00;
}

#forth {
  border: 0.2rem solid lightgreen;
}

#rhythm_0,
#rhythm_1,
#rhythm_2,
#rhythm_3 {
  width: 2.8rem;
  height: 2rem;
  margin: 1px;
}

#rhythmImg0,
#rhythmImg1,
#rhythmImg2,
#rhythmImg3 {
  width: 20%;
}

.item select {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 16px;
}

.item {
  display: flex;
  margin: 4px 0 4px 4px;
  justify-content: space-between;
}

.beat {
  display: block;
}

.lastRhythmImg {
  width: 6rem;
}

#tempo_category {
  display: flex;
  width: 8rem;
  height: 2.8rem;
  margin: 0 8rem 0 0;
  background-color: #eee8aa;
}

.buttons {
  width: 64%;
  display: flex;
  margin: 1rem auto 0 auto;
  justify-content: space-between;
}

button {
  width: 5rem;
  height: 2.5rem;
  border-radius: 16px;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
  margin: 0.2rem 0.2rem 0 0;
}

#play_mode {
  width: 8rem;
  height: 2.8rem;
  margin: 0.2rem 0.5rem 0 0;
  background-color: #eedab9;
}

#play {
  background-color: #ff7e00;
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 2rem;
}

#play::before {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 0.3em solid transparent;
  border-left: 0.5em solid currentColor;
  box-sizing: border-box;
  content: "";
}

#stop {
  background-color: #ffa500;
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 2rem;
}

#stop::before,
#stop::after {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0.25rem;
  height: 1rem;
  box-sizing: border-box;
  background-color: currentColor;
  content: "";
}

#stop::before {
  left: 45%;
}

#stop::after {
  left: 55%;
}
