html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

svg {
  fill: red;
}

.abcjs-staff path {
  stroke: white;
}

.abcjs-staff-extra.abcjs-clef {
  display: none;
}

p {
  font-weight: bold;
  font-size: 12px;
}

select {
  color: #000;
  font-weight: bold;
  width: 5rem;
  height: 3rem;
  margin: 0;
}

.item {
  display: flex;
  margin: -0.4rem 1.8rem 1rem 1.8rem;
}

.part {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 2.2rem 0 1.2rem;
}

.beat {
  display: block;
}

.beat p {
  margin: 0;
}

.name {
  margin: 1.4rem 0 0 0;
}

.name p {
  width: 4rem;
  margin: 0.4rem -0.8rem 0.6rem 0;
}

.sound {
  background-color: #ffff00;
}

#tempo_category {
  display: flex;
  width: 8rem;
  height: 2.8rem;
  margin: 1.6rem 0 0 1rem;
  background-color: #eee8aa;
}

.buttons {
  display: flex;
  margin: 1.6rem 0 0 0;
  justify-content: space-around;
}

button {
  width: 5rem;
  height: 2.5rem;
  border-radius: 16px;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
  margin: 0.2rem 0.4rem 0 0;
}

#play_mode {
  width: 6rem;
  height: 2.8rem;
  margin: 0.2rem 0.5rem 0 0;
  background-color: #eedab9;
}

#play {
  background-color: #ff7e00;
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 2rem;
}

#play::before {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 0.3em solid transparent;
  border-left: 0.5em solid currentColor;
  box-sizing: border-box;
  content: "";
}

#stop {
  background-color: #ffa500;
  display: inline-block;
  position: relative;
  color: #000;
  font-size: 2rem;
}

#stop::before,
#stop::after {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0.25rem;
  height: 1rem;
  box-sizing: border-box;
  background-color: currentColor;
  content: "";
}

#stop::before {
  left: 45%;
}

#stop::after {
  left: 55%;
}
